
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap');

body {
    font-family: Roboto, sans-serif;
   
}

/* ----------------------------------------------------Navbar ---------------------------------*/
.navbar-style {
    background-color:   #88275d;
    padding-left: 30px;
    color:  #fafafa;
}


.menuitem a {
    font-size: x-large;
    padding-left: 20px;
    color: #fafafa;
}

.menuitem a:hover{
    border-bottom: 1px solid #fafafa;
}

.navbar-nav li{
    padding-left: 20px;
}

.navbar-toggler-icon {
    border-color: #fafafa;
    width: 35px;
    height: 3px;
    background-color: #fafafa;
    margin: 6px 20px 6px 0;
}

.navbar-toggler {
    padding: 0;
}

/* ---------------------------------------------Hero Image Section ----------------------------------*/

.hero-container {
    height: 750px;
    background: url('../images/meditate.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fafafa;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

.hero-outer{
    height:750px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


.jumbotron {
    text-align: center;
    background:transparent;
    text-shadow: 5px 3px 10px #000;
}

.lead {
    font-size: xxx-large;
    font-weight: 500;
}
  

.about {
    height: 400px;
    justify-content: center;
    align-items: center;
    color:  #88275d;
    text-align: justify;
    text-shadow: 5px 3px 10px rgba(0, 0, 0, 0.281);
    margin-bottom:80px;
}

.welcome-container {
    height: 380px;
    border: 1px #88275d solid;
    margin-bottom: 70px; 
    margin-top: 20px;
    padding-right: 0;
    color: #fafafa;
    
 }
.hr-rule {
    border: 3px solid #88275d;
    width: 700px;
}
 .title {
     text-align: center;
     margin-top: 20px;
     color: #88275d;
 }


.welcome-text{
    height: 450px;
    width: 100%;
    text-align: center;
    color: #88275d;
    padding: 5px 50px 20px 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    
   }

.btn-about{
    margin-top: 10px;
}

.welcome-img {
  background-image: url("../images/face.jpg");
  height: 390px;
  width: 330px;
  margin-left:60px;
   
  }

.quote-img {
 background-image: url("../images/yogi.jpg");
 background-repeat: no repeat, no-repeat;
  height: 290px;
  width: 229px;
  padding-left: 50px;

  
}
/*----------------------------------Footer--------------------*/
.social-media {
    text-align: center;
}

.social-media li {
    display:inline-block;
}

.social-media i {
    font-size: 150%;
    padding: 20%;
    color:  #fafafa;
    margin-right: 50px;
}


footer {
    height: 250px;
	margin: 0;
    color: #fafafa;
    background-color: #88275d;
}

.follow {
    text-align: center;
    margin-top: 60px;
}

.contact {
   text-align: center;
   margin-top: 60px;
   font-size: small;
}

/*--------------------------------------Contact form----------------*/

.form-section {
    height: 650px;
    background-image: url("../images/beach.jpg");
    clear: left;
    background-size: cover;
    background-position: center;
   }

.signup-form {
  margin-top:50px;
  background-color: rgba(60, 60, 60, 0.6);
  position: relative;
  padding: 30px ;
}

.form-section h3, h4 {
    color: #fafafa;
    margin-bottom: 20px;
    text-align: center;
}

  .form-control {
    background: transparent;
    width: 100%;
    height: 25px;
    /*margin5px 0 20px 0;*/
    border: 1px solid #fafafa;
    border-radius: 5px;
}

.btn-form {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #fafafa;
    background-color: #88275d;
    width: 100px;
}
.label-color {
    color: #fafafa
}

  
/*----------------------------------------------Media Queries-----------------------*/
@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 60%;
    }


}

/*----------------------------------------------Class times-----------------------*/

#class-times{
    background-image: url('../images/women.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#class-times div {
    color: #fafafa;
    background-color: rgba(0,0,0, .6);
    width: 24%;
    height: 300px;
    float: left;
    padding: 30px 0px 10px 10px;
    text-align: center;
    margin: 6px;
}

#class-times h3 {
    color: #fafafa;
}

#class-times a {
  color:  #fafafa;
  background-color: transparent;
  text-decoration: none;
} 

#class-times a:hover {
  color: #88275d;
  background-color: transparent;
  text-decoration: underline;
}


 