@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Rajdhani:wght@300&display=swap");

body {
  font-family: Lato, sans-serif;
  
}

/* ---------------------------------------------Navbar ---------------------------------*/

.navbar-style {
  padding-left: 30px;
  color: #c4881be3;
}

.navbar-brand {
  color: #c4881be3;
  font-size: xx-large;
  margin-left: 5px;
}

.navbar-brand-text:hover {
  color: slategray;
}

.menuitem a {
  font-size: larger;
  color: #c4881be3;
  text-shadow: 5px 3px 10px rgba(0, 0, 0, 0.281);
  text-transform: uppercase;
}

/*-------Grow hover animation from website travis.media, link in README.md--*/
.grow a {
  transition: all 0.2s ease-in-out;
}

.grow a:hover {
  transform: scale(1.1);
}

/*----------------------------------------------------------------------*/

.active {
  border-bottom: 3px solid #c4881be3;
  text-decoration: none;
}

.navbar-nav li {
  padding-left: 10px;
}

.navbar-toggler {
  border: 2px solid #c4881be3;
  margin-top: 80px;
}

.hr-large {
  border-top: 1px solid #c4881be3;
}

.hr-small {
    border-top: 1px solid #c4881be3;
    width: 400px;
}

/* ---------------------------------------------Hero Image Section ----------------------------------*/

/* Code for hero image and animation borrowed from the Love Running project then edited to fit my website */

.hero-container {
  max-width: 100%;
  height: 750px;
  background: url("../images/focus.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fafafa;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.hero-outer {
  height: 750px;
  width: 100%;
  overflow: hidden;
  position: relative;
}


/* ---------------------------------------------Eleventh Embodiment section------------------------------------*/

.about-container {
  background-color: #c4881be3;
  margin-bottom: 50px;
  height: 300px;
  
}

.about {
  height: auto;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  text-align: center;
  padding-top: 20px;
}

.title-text-about {
  text-align: center;
  color: #fafafa;
  padding-top: 35px;
  text-transform: uppercase;
  word-spacing: 5px;
}
/* ---------------------------------------------My story-----------------------------------------------------*/


.title-text {
  text-align: center;
  color: #c4881be3;
  padding-top: 25px;
  text-transform: uppercase;
  word-spacing: 5px;
}

.owner-img {
  max-width: 100%;
  height: auto;
  margin-top: 8px;
  margin-bottom: 30px;
}

.owner-text {
  text-align: justify;
  padding-right: 50px;
  color: hsla(38, 38%, 25%, 0.89);
}

.name-heading {
  color: #c4881be3;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 20px;
}

.experience {
  margin-top: 50px;
  margin-bottom: 30px
}

.teacher-training, .teaching {
  color: hsla(38, 38%, 25%, 0.89);
  margin-top: 20px;
  margin-bottom: 50px;
}

.teacher-training h5, .teaching h5 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: x-large;
}

.teacher-training li, .teaching li {
  font-size: larger;
}

.yoga-img {
  margin-left: 120px;
  margin-top: 50px;
}

.yoga-text {
  padding-left: 20px;
  padding-top: 50px;
  margin-top: 20px;
  text-align:justify;
}

.yoga-btn {
  color: #fafafa;
  background-color: #c4881be3;
  width: 150px;
  border-radius: 5%;
  margin-top: 40px;
}

.book-session-text {
    text-align: center;
    text-transform: uppercase;
    word-spacing: 4px;
}

/*--------------------------Home page See Events section-------------------------------------------------------------------*/
.btn-book {
  display: flex;
  justify-content: center;
  color: #fafafa;
  background-color: #c4881be3;
  width: 200px;
  margin: 0 auto;
}


/* ---------------------------------------------------Newsletter---------------------------------*/


/* ----------------------------------------------------Footer ---------------------------------*/


footer {
  height: auto;
  width: 100%;
  color: #fafafa;
  background-color: #c4881be3;
}

.follow-heading {
  margin-top: 30px;
  text-align: center;
}

.contact-heading {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: small;
}

.contact-heading a {
  color: #fafafa;
}

.follow-heading i {
    color: #fafafa;
}

.contact-heading a:hover {
  opacity: 0.2;
  text-decoration: underline;
}

.social-media {
  text-align: center;
}

/* Code for social media icons borrowed from Love Running challenge then edited  */

.social-media li {
  display: inline-block;
}

.social-media i {
  font-size: 150%;
  padding: 20%;
  color: #fafafa;
  margin-right: 50px;
}

.social-media li a:hover {
  opacity: 0.3;
}



/* ----------------------------------------------------Modal -------------------------------*/

/* Code borrowed from Bootstrap and adapted to my website */

.form-style {
  background-color: #fafafa;
}

.form-Modalcontrol {
  width: 80%;
  height: 35px;
  border: 1px solid #7777;
  border-radius: 5px;
  margin: 0 auto;
}

.form-group {
  margin-left: 70px;
  margin-top: 20px;
}

.modal-header {
  background-color: #c4881be3;
  color: #fafafa;
  text-align: center;
  padding-left: 70px;
}

.btn-form-modal {
  margin-left: 70px;
  margin-top: 15px;
  margin-bottom: 35px;
  color: #fafafa;
  background-color: #c4881be3;
  width: 150px;
}

.close {
  color: #fafafa;
}
/* ----------------------------------------------------Contact page -------------------------------*/

/* form created by using code borrowed from the Love Running challenge and from the Resume Project, and then edited to fit the design of my website */

.form-section {
  height: auto;
  background-image: url("../images/mountain.jpg");
  clear: left;
  background-size: cover;
  background-position: center;
  background-blend-mode: hue;
}

.signup-form {
  margin-top: 50px;
  background-color: rgba(60, 60, 60, 0.6);
  position: relative;
  padding: 30px;
}

.form-section h3, h4 {
  color: #fafafa;
  margin-bottom: 20px;
  text-align: center;
}

.form-control {
  background: transparent;
  width: 100%;
  height: 35px;
  border: 1px solid #fafafa;
  border-radius: 5px;
  color:#fafafa
}

.btn-form {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #fafafa;
  background-color: #c4881be3;
  width: 100px;
}

.label-color {
  color: #fafafa;
}

/*-------------------------------------Gallery Page---------------------------------------------------*/

.photos img {
    max-width: 100%;
    height:auto;
    padding: 0;
    margin-bottom: 30px;
}



/*------------------------------------- What I do Page-----------------------------------------------*/

.yoga-heading {
  color: #c4881be3;
  text-align: center;
  text-transform: uppercase;
  font-size: xx-large;
  margin-top:60px;
}

.header-container {
   margin-top: 20px;
    
.what-img {
    margin-top:20px;
}

}
.methods-text {
  color: #c4881be3;
  text-align: center;
  font-size: x-large;
  margin-top: 50px;
  margin-left: 60px;
  padding-right: 80px;
}

.btn-advice {
  margin-top: 60px;
  margin-left: 450px;
  margin-bottom: 30px;
  color: #fafafa;
  background-color: #c4881be3;
  width: 200px;
}

.description-text {
  text-align: justify;
  font-size: larger;
  margin: 50px 0px 50px 150px;
}

#yogi {
    text-align: center;
}
.kundalini-container {
    padding: 0px;
}

.quote-text {
  text-align: center;
  font-size: x-large;
  text-shadow: 5px 3px 10px rgba(0, 0, 0, 0.281);
  padding-top: 10px;
  color:#c4881be3;
  margin-top: 50px;
  margin-bottom:50px;
 
}

.heading-text {
  color: #fafafa;
  background-color: #c4881be3;
  text-align: center;
  font-style: italic;
  margin: 50px 30px 30px 20px;
}

.btn-class-kundalini {
  margin-left: 455px;
  margin-bottom: 50px;
  margin-top: -40px;
  color: #fafafa;
  background-color: #c4881be3;
  width: 200px;
  
}

.btn-class-yin {
  margin-left: 850px;
  margin-bottom: 40px;
  color: #fafafa;
  background-color: #c4881be3;
  width: 200px;
  margin-top: 50px;
}

.btn-class-reiki {
  margin-left: 850px;
  margin-top: 80px;
  margin-bottom: 80px;
  color: #fafafa;
  background-color: #c4881be3;
  width: 200px;
}

.btn-class-shaman {
  margin-left: 850px;
  margin-bottom: 40px;
  color: #fafafa;
  background-color: #c4881be3;
  width: 200px;
}

.kundalini-img {
  margin: 0px auto;
  margin-top: 60px;
  
}

.yin-img {
  max-width: 100%;
  height:auto;
  padding: 10px;
  padding-left: 10px;
  
}

.yin-second-img {
  max-width: 100%;
  height:auto;
  padding: 10px;
}


.reiki-img {
 max-width: 100%;
 height:auto;
 margin-top: 30px;
}

.breathing-img {
  margin-bottom: 70px;
  margin-left: 400px;
  margin-top: 30px;

}

.shaman-img {
   max-width: 100%;
  height:auto;
  margin-bottom: 30px;
}


.shaman-second-img {
   max-width: 100%;
  height:auto;
  margin-bottom: 30px;
}

   
/*--------------------------Events Page -------------------------------------------------------------------*/

.page-header {
  background-color: #c4881be3;
  color:#fafafa;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  display:flex;
  align-items: center;
  justify-content: center;
}

.events-title {
  color: #c4881be3;
  text-align: center;
  text-transform: uppercase;
 
  margin:0px auto;
  padding-top: 50px;

}
.retreat-text{
  color:  hsla(38, 38%, 25%, 0.89);
  text-align: justify;
  font-size: large;
  padding-left: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.retreat-facts h3 {
  
 color:  hsla(38, 38%, 25%, 0.89);
 
  
}

.retreat-text h4 {
    color: hsla(38, 38%, 25%, 0.89);
    text-align: left;

}

.retreat-facts {
    margin-top: 50px;
    margin-bottom:50px;
    text-align:justify;

}

.video-position {
  display:flex;
  justify-content:center;
  margin-top: -10px;
  margin-bottom: 30px;
}

/*#video-text { 
    display:flex;
  justify-content:center;
}*/

#price {
    color: #c4881be3;
    font-weight: 600;
    
    font-size: xx-large;
}

.workshop {
   margin-top: 140px;
   
}
 
.workshop p {
    text-align: justify;
}

.workshop-img {
    margin-left: 50px;
    margin-bottom: 60px;
    margin-top: 150px;

}

.workshop h3 {
    color: #c4881be3;
      
}

.btn-workshop {
  margin-top: -10px;
  color: #fafafa;
  background-color: #c4881be3;
  width: 200px;
    
}

.workshop ul {
    list-style-type: none;
   
    padding 0px;
}
 /*----------------------------------------------------------Media Queries------------------------------------------------------------------*/

/* Media query for the form on the contact page borrowed from the Love Running challenge*/

@media screen and (min-width: 992px) {
  .center-form {
    padding-top: 10px;
    min-height: 240px;
    max-width: 50%;
    margin-bottom: 50px;
    margin-left: 60px;
  }
}
/*


/* ---------------------------------------------------------------- (Small) Mobile---------------------------------------------------------- */


/* ------------------------------------------------ Home Page -------------------------------*/

@media screen and (min-width: 360px) {


.hero-outer {
  height: 560px;
  width: 100%;
  overflow: hidden;
  position: relative;

}
.about-container {
  background-color: #c4881be3;
  height: 265px;
  
}

.title-text-about {
  text-align: center;
  color: #fafafa;
  padding-top: 15px;
  text-transform: uppercase;
  word-spacing: 5px;
  font-size: larger;
  
}

.about {
  justify-content: center;
  align-items: center;
  color: #fafafa;
  text-align: justify;
  font-size: large;
  padding:0px;
  margin-top: -10px;
}

.owner-img {
  max-width: 100%;
  height: auto;
  margin: 0px auto;
}

.owner-text {
  display:flex;
  justify-items: center;
  text-align: justify;
  padding: 15px;
  color: hsla(38, 38%, 25%, 0.89);
  

.teacher-training, .teaching {
    font-size: small;
    text-align:justify;
}
.title-text {
  text-align: center;
  color: #c4881be3;
  padding-top: 25px;
  text-transform: uppercase;
  font-size: x-large;
}

.yoga-img {
  display: none;
}

.yoga-text {
    text-align:justify;
    padding: 30px;
}
}

/* -------------------------------------------------------------------------------- (Medium) Tablet -------------------- */

/* ------------------------------------------------ Home Page -------------------------------*/
@media screen and (min-width: 768px) {


.hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;

}
.about-container {
  background-color: #c4881be3;
  height: 355px;
  
}

.title-text-about {
  text-align: center;
  color: #fafafa;
  padding-top: 15px;
  text-transform: uppercase;
  word-spacing: 5px;
  font-size: xx-large;
  
}

.about {
  justify-content: center;
  align-items: center;
  color: #fafafa;
  text-align: center;
  font-size: x-large;
  padding-top:20px;
  margin-top: -10px;
}

.owner-img {
  max-width: 100%;
  height: auto;
  margin-top: 8px;
  margin-bottom: 30px;
}
}

/* -------------------------------------------------------------------------------- Large (Desktop) -------------------- */

@media screen and (min-width: 992px) {

.about {
  justify-content: center;
  align-items: center;
  color: #fafafa;
  text-align: center;
  font-size: larger;
  padding-top:20px;
  margin-top: -10px;
  line-height: 
}

.owner-img {
  max-width: 100%;
  height: auto;
  margin-top: 8px;
  margin-bottom: 30px;
}

.owner-text {
  text-align: justify;
  padding-right: 50px;
  color: hsla(38, 38%, 25%, 0.89);
}
}


/* -------------------------------------------------------------------------------- Large (Desktop) -------------------- */

@media screen and (min-width: 1200px) {

.hero-outer {
  height: 750px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.about-container {
  background-color: #c4881be3;
  margin-bottom: 50px;
  height: 250px;
  
}

.yoga-text {
  padding-top: 50px;
  margin-top: 20px;
  text-align:justify;
  margin-left: 10px;
}

.yoga-img {
  margin-left: 120px;
  margin-top: 50px;
}
}